#cardCentral {
  max-width: 400px;
  margin: auto;
  width: 60%;
  margin-top: 1%;
}
.fontSizeTitulo {
  font-size: large;
}
.largura100 {
  width: 100%;
}
.marginTop5 {
  margin-top: 5%;
}
.largura50 {
  width: 50%;
}
.ajusteBotao {
  background-color: #f3e8de;
  color: #c1926b;
  margin: 0 auto;
  display: block;
}
.fontSizeRodape {
  font-size: smaller;
}
.centralizarTexto {
  text-align: center;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #c4a788 !important;
}

::ng-deep .mat-focused .mat-form-field -underline .mat-form-field-ripple {
  background-color: #c4a788 !important;
}
.spinner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #c1936b;
}
